 
/*****bottom pop css *****/
.w_fomo_wrapper {
    position: fixed;
    bottom: 10px;
    left: 10px;
    min-width: max-content;
    background-color: #fff;
    -webkit-transition: transform .8s ease;
    -webkit-transition: -webkit-transform .8s ease;
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease, -webkit-transform .8s ease;
    z-index: 1001;
    color: #fff;
    font-weight: 400;
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
    -webkit-box-shadow: 0 0 5px #6f6f6f;
    box-shadow: 0 0 5px #6f6f6f;
    border-radius: 20px;
    max-width: min-content;
    width: 100%;
}
 .w_item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     display: -webkit-flex;
     -webkit-align-items: center;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-justify-content: space-between;
}
 .w_thumb{
     border-radius: 50%;
    /* width: 60px;
     */
}
 .w_desc p{
     margin-bottom: 0;
     text-align: left;
     font-size: 13px;
     color: #000;
}
 .wysiwyg-content.statistical table{
     text-align: right;
     font-size: 14px;
     width: 100%;
}
 .wysiwyg-content.statistical .ta-l{
     text-align: left;
}
 .edit_mode .w_fomo_wrapper {
     position: static;
     -webkit-transform: translateY(0);
     transform: translateY(0) 
}
 .w_fomo_wrapper.notify {
     -webkit-transform: translateY(0);
     transform: translateY(0) 
}
 .w_fomo_wrapper .w_item {
     display: table;
     width: 100% 
}
 .w_fomo_wrapper .w_item > div {
     display: table-cell;
     vertical-align: middle 
}
 .w_fomo_wrapper .w_thumb {
     width: 60px;
     background-color: #fff;
     text-align: center
}
.w_fomo_wrapper .w_thumb img {
    width: 60%;
    margin: 0 auto;
    height: 70px;
    object-fit: contain;
}
 .w_fomo_wrapper .w_desc {
     padding: 10px 10px;
     font-size: 1.3rem;
     padding-left: 0;
}
 .w_fomo_wrapper .w_desc strong {
     color: #000 
}
 @media (max-width:767px){
     .w_fomo_wrapper {
         bottom: auto;
         top: 10px;
         transform: translateY(-120%);
         -webkit-transform: translateY(-120%);
    }
    .termSec p {
        font-size: 12.5px;
    }
}
 @media (min-width:992px) {
     .w_fomo_wrapper {
         top: auto;
         bottom: 10px 
    }
}
 @media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
     .w_fomo_wrapper {
         width: 300px 
    }
}
 @media(max-width:320px) {
     .w_fomo_wrapper{
         min-width: 300px;
         max-width: 300px;
    }
}
 .buyopt {
     position: relative;
}
 .package-best-seller {
     color: #fff;
     background-color: #e67a00;
     font-weight: 500;
     font-size: 13px;
     padding: 0 8px 2px 8px;
     border-radius: 2px;
     text-transform: none;
     text-shadow: rgba(0,0,0,.2) 0 1px 1px;
}
 .reco_deal {
     text-align: center;
     font-weight: 600;
     border-radius: 5px;
     color: #000;
    font-size: 13px;
}
 .buy-opt-left span.cb-discountPercentage {
     color:#28a745 !important 
}
 @media(max-width: 1021px) {
     .package-best-seller, .reco_deal {
         font-size: 11px;
    }
}
/*********journey css*********/
 h3.nw-txt {
     font-size: 20px;
     color: #000;
     font-weight: bold;
     text-align: left;
}
 .mr10-btm {
     margin-bottom: 10px;
}
 p.np-txt {
     font-size: 15px;
     color: #000;
     font-weight: 400;
     text-align: left;
     margin-bottom: 10px;
}
 .pad-0-rt {
     padding-right: 0;
}
 .secure-icon {
     width: 19%;
     margin-right: 8px;
}
 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 22px;
     margin-top: 0;
     float: right;
}
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
}
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}
 .slider:before {
     position: absolute;
     content: "";
     height: 18px;
     width: 18px;
     left: 2px;
     bottom: 2px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}
 input:checked + .slider {
     background-color: #2196F3;
}
 input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
}
 input:checked + .slider:before {
     -webkit-transform: translateX(38px);
     -ms-transform: translateX(38px);
     transform: translateX(38px);
}
/* Rounded sliders */
 .slider.round {
     border-radius: 34px;
}
 .slider.round:before {
     border-radius: 50%;
}
 .panel {
     display: block;
     background-color: transparent;
     overflow: hidden;
}
 .clearfix {
     clear: both;
}
 .pull-left {
     float: left!important;
}
 @media(max-width:991px) {
     h3.nw-txt {
         font-size: 17px;
    }
}
 @media only screen and (max-width: 480px) {
     .banner-left-right {
         width: 100%;
    }
     h3.nw-txt {
         font-size: 14px;
    }
     .slider:before {
         left: 1px;
    }
     .switch {
         width: 58px;
    }
     p.np-txt {
         font-size: 12px;
    }
}
 @media(max-width: 1021px) {
     .package-best-seller, .reco_deal {
         font-size: 11px;
    }
}
/* Country Code Css */
 .country-code-container {
     width: fit-content;
     height: 100%;
     font-size: 15px;
     font-family: Arial, sans-serif;
}
 .country-code-container .country-code-selector{
     padding: 0 !important;
}
 .country-code-container span {
     height: 88% !important;
     display: inline-block !important;
     width: fit-content !important;
     color: #222 !important;
     font-size: 14.5px;
}
 .country-code-container .select2-container--default .select2-selection--single {
     border: none !important;
     outline: none !important;
     margin-top: 11px;
     border-radius: 13px;
}
 .country-code-container .select2-container--default .select2-selection--single .select2-selection__rendered {
     line-height: 36px;
     padding: 0 30px;
     padding-left: 14px;
}
 .countrycode-content-container .country-code-container + input {
     padding-left: 5px !important;
     padding-top: 12px !important;
     padding-bottom: 10px !important;
     border: none;
     height: 52px !important;
     box-shadow: none;
     border-top-right-radius: 10px !important;
     border-bottom-right-radius: 10px !important;
     border-top-left-radius: 0 !important;
     border-bottom-left-radius: 0 !important;
     border: none !important;
}
 .countrycode-content-container .country-code-container + input::placeholder{
     color:#222;
}
 .select2-container--default .select2-selection--single .select2-selection__arrow {
     top: 60%;
     right: 6px;
     transform: translateY(-50%);
}
 .select2-container--open .select2-dropdown--above, .select2-container--open .select2-dropdown--below {
     width: 115px !important;
     background-color: #f4f4f4;
}
 .select2-container--open ul::-webkit-scrollbar {
     width: 5px;
}
 .select2-container--open ul{
     scrollbar-width: thin;
}
 .countrycode-content-container {
     display: flex;
     background: #FFF;
     border: 1px solid #a7abad;
     border-radius: 10px;
     height: 54px;
     align-items: center;
}
 .frm-flds.form-floating input:focus ~ label, .frm-flds.form-floating select.form-select ~ label, .frm-flds.form-floating input.no-error ~ label, .frm-flds.form-floating select.form-select.no-error ~ label, form-group.form-floating input.has-error + label, .frm-flds.form-floating select.form-select.has-error + label, .frm-flds.form-floating>.form-control:not(:placeholder-shown)~label, .countrycode-content-container input.form-control ~ label {
     font-size: 13px;
     padding: 0.60rem;
     left: 5px;
     top: -7px;
     background-color: #fff;
     opacity: 1;
     height: auto;
     line-height: 0;
     transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}
 .select2-search.select2-search--dropdown{
     position: relative;
}
 .select2-search.select2-search--dropdown::before {
     content: ' ';
     position: absolute;
     right: 8px;
     background-image: url(../../images/search.png);
     background-repeat: no-repeat;
     background-size: contain;
     width: 15px;
     height: 15px;
     top: 50%;
     transform: translateY(-50%);
}
 .select2-container--default .select2-results__option, .country-code-container .select2-results__option span {
     display: flex;
     align-items: center;
}
 .select2-container--default .select2-results__option img {
     width: 24px;
     height: auto;
     margin-right: 5px;
}
 .select2-selection__rendered img {
     width: 20px;
     height: auto;
     margin-right: 0px;
     border-radius: 0;
     vertical-align: middle;
     margin-top: -3px;
}
 @media (max-width:992px) and (min-width:768px){
     .country-code-container .select2-container--default .select2-selection--single .select2-selection__rendered {
         padding: 0 32px;
         padding-left: 13px;
    }
     .country-code-container .select2-container--default .select2-selection--single .select2-selection__arrow b {
         margin-left: 0;
    }
}
