@charset "utf-8";

/* CSS Document */
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    background: #fff;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
    margin: 0;
    padding: 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

table,
tr,
td {
    border: 0;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

a:hover {}

img {
    border: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.img-full {
    max-width: 100%;
}

.mt-5 {
    margin-top: 5rem;
}

.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.sp-feature {
    margin-bottom: 40px;
    margin-top: 15px;
}

.sp-feature img {
    width: 100%;
}

/*========================*/
/* @font-face {
     font-family: 'Euclid Square';
     src: local('../../fonts/EuclidSquare-Medium'), url('../../fonts/EuclidSquare-Medium.woff2') format('woff2'), url('../../fonts/EuclidSquare-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}
 @font-face {
     font-family: 'Euclid Square';
     src: local('../../fonts/EuclidSquare-Bold'), url('../../fonts/EuclidSquare-Bold.woff2') format('woff2'), url('../../fonts/EuclidSquare-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}
 @font-face {
     font-family: 'Euclid Square';
     src: local('../../fonts/EuclidSquare-Light'), url('../../fonts/EuclidSquare-Light.woff2') format('woff2'), url('../../fonts/EuclidSquare-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}
 @font-face {
     font-family: 'Euclid Square';
     src: local('../../fonts/EuclidSquare-Regular'), url('../../fonts/EuclidSquare-Regular.woff2') format('woff2'), url('../../fonts/EuclidSquare-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}
 @font-face {
     font-family: 'Euclid Square';
     src: local('../../fonts/EuclidSquare-SemiBold'), url('../../fonts/EuclidSquare-SemiBold.woff2') format('woff2'), url('../../fonts/EuclidSquare-SemiBold.woff') format('woff');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
}
 */
/*=============================*/
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

/*=================*/
.top {
    background: #ff000f;
    border-bottom: 10px solid #efde54;
    padding: 6px 0;
    float: left;
    width: 100%;
}

.top p {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    font-weight: 600;
    float: left;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
}

.top p span {
    color: #fced44;
}

.header {
    /* background:#0f3e6a;
     */
    background: #fff;
    float: left;
    width: 100%;
    padding: 8px 0;
}

.logo {
    width: 100px;
    float: left;
    margin: 0 0 0 0;
}

.steps {
    display: inline-block;
    margin: 0 0 0 50px;
    vertical-align: middle;
    text-align: center;
}

.h-secure {
    float: right;
    margin: 0 0 0 0;
}

/*=======================*/
.logo-prt {
    display: inline-block;
    width: 100%;
    margin-top: 0px;
}

.logo-prt img {
    margin-top: 0px;
    transform: none;
    width: 96px;
}

.up-sec1 {
    background: url(../images/upsell2-banner.png) center top no-repeat;
    float: left;
    width: 100%;
    padding: 20px 0 40px;
    background-size: contain;
}

.up-txt1 {
    font-size: 38px;
    line-height: 41px;
    font-weight: 700;
    color: #DB1010;
    text-align: center;
}

.left-arw {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 20px 0 0;
}

.right-arw {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 0 0 20px;
}

.up-txt2 {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: #444;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.up-txt2 span {
    font-weight: 600;
}

.up-s1-Box {
    vertical-align: middle;
    max-width: 724px;
    width: auto;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 40%);
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}

.up-s1-lft {
    float: left;
    width: 100%;
    background: #fff;
    padding: 40px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.ups1-txt1 {
    width: 90%;
    font-size: 18px;
    font-family: "Barlow Semi Condensed", sans-serif;
    line-height: 23px;
    color: #3A3A3A;
    font-weight: 600;
    letter-spacing: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    justify-content: center;
    margin: 0 auto;
}

.fls-img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.fls-img2 {
    margin-right: 15px;
}

.ups1-txt2 {
    /* float: left; */
    width: 100%;
    font-size: 26px;
    line-height: 32px;
    color: #335575;
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ups1-txt2 span {
    color: #ff891a;
}

ul.ups1-list {
    margin: 0;
    float: left;
    width: 100%;
    padding: 0 20px 0 110px;
}

ul.ups1-list li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 17px;
    line-height: 25px;
    text-align: left;
    color: #444444;
    list-style-type: disc;
    font-weight: 600;
}

.save-strip {
    float: left;
    width: 100%;
    background: #FFEAEA;
    border: 1px solid #FF7D7D;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
    position: relative;
    border-radius: 10px;
}

.save-strip img {
    display: inline-block;
    vertical-align: middle;
    margin: -4px 6px 0 0;
    width: 20px;
}

.save-strip p {
    float: left;
    width: 100%;
    font-size: 24px;
    color: #151515;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
}

.save-strip p span {
    font-weight: 600;
}

.up-prcBox {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-top: 2px;
}

.prcDv {
    width: 50%;
    float: left;
    position: relative;
}

.prcDvline:before {
    content: '';
    top: 2px;
    bottom: 13px;
    right: 0;
    position: absolute;
    background: #888;
    width: 1px;
}

.prc-txt {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #444;
    font-weight: 600;
}

.rtl-prc {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #1a1a1a;
    font-weight: bold;
}

.ofr-prc {
    color: #0064a2;
}

.float-prc1 {
    font-size: 35px;
    line-height: 48px;
    display: inline-block;
    color: #444444;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
    text-decoration: line-through;
}

.float-prc1 small {
    font-size: 60%;
    font-weight: 600;
}

.float-prc2 {
    color: #FF4106;
    text-decoration: inherit !important;
}

.float-prc1 span {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    line-height: 28px;
}

.up-redcut {
    position: absolute;
    left: -4px;
    top: 10px;
    width: 100%;
}

.packageBtn {
    display: block;
    width: 100%;
    margin: 10px auto 0;
    height: 67px;
    overflow: hidden;
    color: #ffffff;
    font-size: 28px;
    line-height: 67px;
    position: relative;
    font-weight: 700;
    border-radius: 5px;
    background: #EE404C;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    border: none;
    cursor: pointer;
}

.packageBtn:hover {
    opacity: 0.8;
    background: #EE404C !important;
    color: #fff;
}

.ship {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #151515;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.ship span {
    font-weight: 600;
}

.ship img {
    margin: 0 6px -3px 0;
}

/*=================*/
.up-s1-rght {
    width: 50%;
    text-align: center;
    background: #fff;
    padding: 0;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.up1-s1-prod {
    margin: 0 auto 0;
    max-width: 100%;
    margin-top: 100px;
}

.seal-position {
    position: relative;
}

.ups1-txt2 br,
.ups1-txt1.up2s1-txt1 br {
    display: block;
}

.desk_slider_div {
    padding: 0;
}

.desk_slider_nav {
    margin-top: 3px;
}

.desk_slider_nav .slick-slide.slick-active {
    width: 33% !important;
    max-height: 100%;
    margin: 0 7px 0 0;
    overflow: visible;
}

.red-seal {
    position: absolute;
    top: 69px;
    left: 17px;
}

a.no-thank {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-family: "Calibri";
    color: #777;
    text-decoration: none;
    margin-top: 45px;
    font-weight: 400;
    cursor: pointer;
}

a.no-thank img {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 6px 0 0;
}

.up4-s1-prod {
    margin-top: 126px;
}

/*------------------------- upsell-2 --------------------------*/
.left-line {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 5px;
    border-radius: 20px;
    background: #CCC;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}

.left-line span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background: #ff0000;
}

.up2s3-offerBox .left-line {
    width: 65%;
}

.hurry-txt {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #181818;
    margin-top: 5px;
    float: left;
    width: 100%;
}

.hurry-txt span {
    color: #ff0000;
    font-weight: 500;
}

.arrival-seal {
    position: absolute;
    top: 92px;
    left: 17px;
}

.up3-arrival-seal {
    top: 130px;
}

.mosquito-img {
    position: absolute;
    top: 76px;
    right: 37px;
}

.free-seal {
    position: absolute;
    top: 210px;
    right: 28px;
    background: #ff891a;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    text-align: center;
}

.free-seal p {
    font-size: 22px;
    line-height: 78px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.up2save-strip {
    padding: 8px 0 8px 0;
}

.up2-s1-prod {
    margin-top: 0px;
    max-width: 100%;
    width: 100%;
    border-radius: 0 10px 0 0;
}

.up3-s1-prod {
    margin-top: 180px;
}

/*=======================*/
.up-sec2 {
    background: #fff7ef;
    float: left;
    width: 100%;
    padding: 60px 0;
}

.ups2-hd {
    float: left;
    width: 100%;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: #335575;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ups2-hd img:first-child {
    width: 80px;
    margin-right: 15px;
}

.ups2-hd img:last-child {
    width: 110px;
    margin-left: 15px;
}

.ups2-txt1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.3px;
    color: #444444;
    text-align: center;
    margin-bottom: 20px;
}

.home-degin {
    display: block;
    margin: 50px auto 0;
    max-width: 100%;
}

.ups2-offerBox {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: 751px;
    margin-top: 60px;
}

.ups2-txt2 {
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 38px;
    color: #FF4106;
    text-align: center;
    font-weight: 700;
    /* display: flex;
     */
    justify-content: center;
    align-items: flex-start;
}

.ups2-txt2 img:first-child {
    width: 80px;
}

.ups2-txt2 img:last-child {
    width: 80px;
}

.ups2-txt2 span {
    color: #ff891a;
}

.ups2-offerBox .up-prcBox {
    width: 80%;
    margin: 26px 0 26px;
}

.ups2-offerBox .prc-txt {
    width: auto;
    margin-right: 5px;
}

ul.ups2-list {
    margin: 8px 0 10px 0;
    background: #f3eee9;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 20px;
}

ul.ups2-list li {
    float: left;
    width: 33.33%;
    padding: 0 4%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #151515;
    position: relative;
}

ul.ups2-list li img {
    display: block;
    margin: 0 auto 10px;
}

.product2 {
    width: 260px;
}

ul.ups2-list li:before {
    content: '';
    top: 2px;
    bottom: 5px;
    right: -11px;
    position: absolute;
    background: none;
    border-right: 2px dotted #b6b6b6;
    width: 1px;
}

ul.ups2-list li:last-child:before {
    display: none;
}

.ups2-offerBox .ship {}

.ups2-offerBox .packageBtn {
    margin-top: 20px;
}

.ups2-offerBox a.no-thank {
    margin-top: 30px;
}

/*********select quantity********/
.customWidth {
    max-width: 450px;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin: auto;
    padding: 5px 0;
}

.customWidth h5 {
    font-size: 16px;
    font-weight: 400;
}

.quantityList {
    border: 1px solid #cecece;
    border-radius: 7px;
    padding: 3px;
    display: flex !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.quantityList li {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.quantityList li input {
    display: none;
}

.quantityList li span {
    display: block;
    width: 45px;
    background: #e5f1ee;
    text-align: center;
    margin: 0px 1px;
    padding: 3px 0px;
    border-radius: 2px;
    font-weight: 700;
    color: #74c6b4;
    cursor: pointer;
    font-size: 15px;
}

.quantityList input:checked+span {
    background: #74c6b4;
    color: #fff;
}

/*------------------------- upsell-2 --------------------------*/
/*=======================*/
.up2-sec2 {
    background: #fff;
    float: left;
    width: 100%;
    padding: 40px 0;
}

.up2-sec2 .ups2-txt1 {
    width: 100%;
    font-weight: 600;
    padding: 0 35px;
    margin-top: 10px;
}

.up2-s2-mdl {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: 30px auto auto auto;
}

.up2-watch {
    /* position:absolute;
     top:28px;
     left:0;
     right:0;
     display:block;
     margin:0 auto;
     */
    width: 280px;
    padding: 12px;
    transform: translate(0, 70px);
}

ul.up2-list-col {
    width: 28%;
    margin-top: 0;
}

ul.up2-list-col li {
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
    padding: 0 0 0 35px;
    margin: 0 0 58px 0;
    height: 150px;
}

.down-mosC {
    margin-left: -20px;
    margin-top: 10px;
}

ul.up2-list-col li .icon-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
}

ul.up2-list-col li h1 {
    font-size: 21px;
    line-height: 28px;
    color: #000000;
    float: left;
    width: 100%;
}

ul.up2-list-col.fl li {
    text-align: left;
}

ul.up2-list-col.fr li {
    text-align: left;
}

ul.up2-list-col li:last-child {
    margin-bottom: 0;
}

.up-img-bdr {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    max-width: 100%;
}

.up2-img1 {
    position: absolute;
    right: -205px;
    top: -10px;
    z-index: 99;
}

.up2-img2 {
    display: block;
    float: left;
    margin: 0 0 10px 0;
    position: relative;
    z-index: 2;
}

.up2-img3 {
    position: absolute;
    left: -175px;
    top: -10px;
    z-index: 99;
}

.up2-img4 {
    display: block;
    float: right;
    margin: 0 0 10px 0;
    position: relative;
    z-index: 2;
}

.up2-icon1 {
    position: absolute;
    right: -49px;
    top: 98px;
}

.up2-icon2 {
    position: absolute;
    right: 112px;
    top: 101px;
    z-index: 1;
}

.up2-icon3 {
    position: absolute;
    left: -15px;
    top: 80px;
}

.up2-icon4 {
    position: absolute;
    left: 102px;
    top: 106px;
    z-index: 1;
}

.up2-img-bdr {
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 3px 3px 9px 2px rgb(0 0 0 / 20%);
    z-index: 2;
    max-width: 100%;
}

ul.up2-list-col li h3 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    color: #444444;
    font-weight: bold;
}

ul.up2-list-col li p {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    /* letter-spacing: 0.3px;
     */
    color: #131313;
    margin-top: 5px;
    font-weight: 500;
}

.mid-img {
    margin: -59px auto 0;
}

.up2-mid-hd {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #0f2c68;
    font-weight: 700;
    margin-top: 20px;
}

ul.up2-s2-list {
    margin: 20px 0 0 0;
}

ul.up2-s2-list li {
    display: inline-block;
    width: 12.20%;
    font-size: 18px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: 600;
    color: #242424;
    padding: 0 10px;
    text-align: center;
}

ul.up2-s2-list li img {
    display: block;
    margin: 0 auto 10px;
}

/*=======================*/
.up2-sec3 {
    background: #ffffff;
    float: left;
    width: 100%;
    padding: 60px 0;
}

.up3-s3-mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    width: 100%;
}

.up3-s3-mid-lft {
    width: 35%;
    margin-right: 30px;
}

.up2s3-offerBox {
    width: 35%;
    text-align: center;
    margin: 0 0 0 0;
}

.up3-s3-mid-lft .up2-s1-prod {
    margin-top: 0;
}

.up3-s3-mid-lft .arrival-seal {
    position: absolute;
    top: 0;
    left: -35px;
}

.up3-s3-mid-lft .free-seal {
    top: 0;
    right: 0;
}

.up3-s3-mid-lft2 {
    width: 40%;
}

.up3-seal {
    position: absolute;
    top: 0;
    right: 0;
}

/*------------------------- CSS FOR FOOTER --------------------------*/
.footer {
    float: left;
    width: 100%;
    padding: 35px 0;
    border-top: 1px solid #dcdcdc;
}

.logo1 {
    display: block;
    margin: 5px auto 20px;
}

.ftr-txt {
    float: left;
    width: 100%;
    font-size: 17px;
    line-height: 30px;
    color: #5d5d5d;
}

.ftr-txt a {
    padding: 0 5px;
    color: #5d5d5d;
}

.show-mob,
.show-tab {
    display: none;
}

.show-desk {
    display: block;
}

.up-shw {
    display: none;
}

.yllw_prc {
    background: #FCE625;
    padding: 0 10px;
    line-height: 40px;
}

.desk_slider_nav .slick-slide:last-child {
    margin-right: 0;
}

.ups1-txt2 b {
    color: #FF4106;
}

.ups1-txt2 span {
    color: #009EAA;
}

.ups2-txt2 {
    font-size: 23px;
    line-height: 29px;
    color: #335575;
}

.up-txt2 span {
    color: #000;
}

.mobile_hide {
    display: none;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*=============media=====================*/
@media only screen and (max-width:1185px) {
    .container {
        width: 1004px;
    }

    .steps {
        margin: 2px 0 0 0;
        width: 515px;
    }

    /*====upsell2====*/
    .up2-sec2 .ups2-txt1 {
        width: 90%;
    }

    .up2-sec2 .ups2-txt1 br {
        display: none;
    }

    .up2-img1 {
        right: -147px;
    }

    .up2-icon1 {
        right: -4px;
    }

    .up2-img3 {
        left: -153px;
    }

    .up2-icon3 {
        left: 7px;
    }

    .mid-img {
        margin: -37px auto 0;
    }

    ul.up2-s2-list li {
        width: 12%;
    }

    .up3-s3-mid {
        width: 93%;
    }

    .up2s3-offerBox {
        width: 54%;
    }

    .up3-s3-mid-lft2 {
        width: 46%;
    }

    .ups2-hd {
        font-size: 44px;
        line-height: 55px;
    }
}

@media only screen and (max-width:1023px) {
    ul.up2-list-col li {
        height: auto;
    }

    .prd-slide {
        min-height: 619px;
    }

    .container {
        width: 750px;
    }

    .logo-prt img {
        margin-top: 20px;
    }

    .logo-prt.mt-5 {
        margin-top: 2rem;
    }

    .show-desk {
        display: none;
    }

    .show-tab {
        display: block;
    }

    .hide-tab {
        display: none;
    }

    .up-shw {
        display: block;
    }

    .steps {
        float: right;
        margin: 5px 0 0 0;
        width: 450px;
    }

    .h-secure {
        display: none;
    }

    .up-txt1 {
        font-size: 30px;
        line-height: 32px;
    }

    .up-txt2 {
        font-size: 20px;
        line-height: 20px;
    }

    .up-s1-lft {
        padding: 15px;
    }

    .ups1-txt1 {
        font-size: 20px;
    }

    .up2s1-txt1 {
        font-size: 16px;
        width: 100%;
    }

    .save-strip p {
        font-size: 20px;
    }

    .up4s1-txt1 {
        font-size: 16px;
    }

    .fls-img2 {
        margin: 0;
    }

    .prc-txt {
        font-size: 15px;
    }

    .float-prc1 {
        font-size: 35px;
    }

    .ups2-hd br {
        display: none;
    }

    .ups1-txt2 {
        line-height: 27px;
        font-size: 22px;
    }

    ul.ups1-list li {
        font-size: 15px;
        line-height: 20px;
    }

    .save-strip {
        padding: 9px 0 9px 0;
        margin: 5px 0;
    }

    .save-strip p small {
        font-size: 13px !important;
    }

    .packageBtn {
        width: 100%;
        font-size: 23px;
    }

    .ship {
        font-size: 16px;
        line-height: 22px;
    }

    .up1-s1-prod {
        margin-top: 70px;
    }

    .red-seal {
        top: 60px;
        width: 148px;
    }

    .left-line,
    .up2s3-offerBox .left-line {
        width: 80%;
    }

    /*========*/
    .up-sec2 {
        padding: 50px 0;
    }

    .up2-sec2 {
        padding: 40px 0;
        background: #fff;
    }

    .ups2-hd {
        font-size: 40px;
        line-height: 48px;
    }

    .ups2-txt1 {
        width: 100%;
    }

    .home-degin {
        margin: 40px auto 0;
    }

    .ups2-offerBox .packageBtn {
        margin-top: 20px;
        width: 443px;
    }

    .up4-s1-prod {
        margin-top: 110px;
    }

    /*=========upsell2=============*/
    .up2-s1-prod {
        margin-top: 0;
    }

    .mosquito-img {
        top: 57px;
        right: 14px;
    }

    .up2-watch {
        top: auto;
        left: auto;
        right: auto;
        position: static;
        width: 200px;
        margin: 0px auto 0;
    }

    ul.up2-list-col {
        width: 44%;
        margin-top: 0;
    }

    .up2-img1 {
        display: block;
        float: left;
        margin: 0 0 10px 0;
        z-index: 2;
        position: inherit;
        left: auto;
        right: auto;
        top: auto;
    }

    .up2-img3 {
        display: block;
        float: right;
        margin: 0 0 10px 0;
        position: relative;
        z-index: 2;
        left: auto;
        right: auto;
        top: auto;
    }

    .up2-icon1 {
        position: absolute;
        right: 93px;
        top: 101px;
        z-index: 1;
    }

    .up2-icon3 {
        position: absolute;
        left: 102px;
        top: 106px;
        z-index: 1;
    }

    ul.up2-list-col li {
        margin-bottom: 27px;
    }

    ul.up2-list-col li h3,
    ul.up2-list-col li p {
        width: 100%;
    }

    .mid-img {
        margin: -4px auto 0;
    }

    ul.up2-s2-list li {
        width: 17%;
        margin: 15px 0 0 0;
    }

    .up2-sec3 {
        padding: 50px 0;
    }

    .up3-s3-mid {
        width: 100%;
    }

    .up2s3-offerBox .ups2-txt2 {
        font-size: 27px;
        line-height: 34px;
    }

    .up3-s3-mid-lft .up2-s1-prod {
        margin-top: 47px;
    }

    .up3-s3-mid-lft .arrival-seal {
        left: 0;
    }
}

@media only screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 10px;
        max-width: 600px;
        box-sizing: border-box;
    }

    .header .container {
        display: block;
    }

    .logo-prt {
        margin-top: 10px;
    }

    br {
        display: none;
    }

    .save-strip {
        margin: 10px 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-prt img {
        margin-top: 0px;
        transform: translate(0px, 0);
    }

    .show-desk,
    .hide-mob {
        display: none;
    }

    .show-mob {
        display: block;
    }

    .ups2-hd img:first-child,
    .ups2-txt2 img:first-child {
        width: 40px;
    }

    .ups2-hd img:last-child,
    .ups2-txt2 img:last-child {
        width: 40px;
    }

    .up-shw {
        display: none;
    }

    .top {
        border-bottom: 3px solid #efde54;
    }

    .top p {
        font-size: 13px;
        line-height: 16px;
    }

    .logo {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        margin: 0.5em;
        width: 80px;
    }

    .steps {
        max-width: 100%;
        float: none;
        margin: 5px auto 0;
    }

    .up-sec1 {
        padding: 14px 0 25px;
        background-size: 100% 15%;
    }

    .right-arw,
    .left-arw {
        display: none;
    }

    .up-txt1 {
        font-size: 26px;
        line-height: 30px;
    }

    .up1-txt1 {
        font-size: 21px;
        line-height: 24px;
    }

    .up-txt2 {
        font-size: 14px;
        line-height: 24px;
    }

    .up3-txt2 {
        font-size: 17px;
    }

    .up-s1-Box {
        margin-top: 0;
        width: 100%;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
    }

    .up-s1-lft {
        width: 100%;
        border-radius: 10px;
        padding: 0px 0 15px 0;
    }

    .up-s1-rght {
        position: relative;
        width: 100%;
        float: left;
        border-radius: 10px 10px 0 0;
    }

    .ups1-txt1 {
        font-size: 17px;
        letter-spacing: 0;
    }

    .up2s1-txt1 {
        font-size: 15px;
        text-align: center;
        margin: 0 0 15px 0;
        padding: 0;
        line-height: 18px;
        justify-content: center;
    }

    .prt-upA {
        padding: 10px 10px;
    }

    .up4s1-txt1 {
        font-size: 14px;
    }

    .up1-s1-prod {
        margin-top: 4px;
    }

    .red-seal {
        top: 5px;
        width: 116px;
    }

    .up1-s1-prod {
        margin: 0;
        width: 179px;
    }

    ul.ups1-list {
        margin: 5px 0 0;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }

    ul.ups1-list li {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        padding: 0 8px;
    }

    .save-strip br {
        display: block;
    }

    .up-prcBox {
        margin-top: 0;
    }

    .prc-txt {
        font-size: 14px;
        line-height: 15px;
        margin-right: 3px;
    }

    .float-prc1 {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: -0.5px;
    }

    .prcDvline:before {
        right: -2px;
        bottom: 5px;
    }

    .packageBtn {
        font-size: 24px;
    }

    .ship {
        font-size: 14px;
        line-height: 19px;
    }

    .ship img {
        margin: 0 6px -5px 0;
    }

    a.no-thank {
        margin-top: 30px;
        font-size: 13px;
        line-height: 22px;
    }

    /*=========upsell2===========*/
    .up-sec2 {
        padding: 25px 0 30px;
    }

    .up2-sec2 {
        padding: 25px 0 30px;
        background: #fff;
    }

    .ups2-hd {
        font-size: 26px;
        line-height: 33px;
    }

    .ups2-txt1 {
        font-size: 16px;
        line-height: 25px;
        margin-top: 17px;
    }

    .home-degin {
        margin: 31px auto 0;
    }

    .ups2-offerBox {
        width: 100%;
        margin-top: 30px;
    }

    .ups2-txt2 {
        font-size: 26px;
        line-height: 34px;
    }

    .ups2-offerBox .packageBtn {
        margin-top: 20px;
        width: 90%;
    }

    .ups2-offerBox .up-prcBox {
        width: 100%;
        margin: 12px 0 12px;
    }

    ul.ups2-list {
        margin: 0 0 0 0;
        padding: 13px 0;
    }

    ul.ups2-list li {
        padding: 0 4px;
        font-size: 14px;
        line-height: 18px;
    }

    ul.ups2-list li img {
        margin: 0 auto 10px;
        max-width: 90%;
    }

    ul.ups2-list li:before {
        right: -1px;
        display: none;
    }

    .ups2-offerBox .ship {
        margin-top: 19px;
    }

    .up2-sec2 .ups2-txt1 {
        width: 100%;
    }

    .up2-s1-prod {
        margin-top: 0px;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .sp-feature {
        margin-bottom: 0;
        margin-top: 0px;
    }

    .up3-s1-prod {
        width: 320px;
        margin: 10px 0 -10px;
    }

    .seal-position {
        position: relative;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .arrival-seal {
        top: -6px;
        left: 17px;
    }

    .mosquito-img {
        top: -5px;
        right: 5px;
    }

    .free-seal {
        position: absolute;
        top: 103px;
        right: 12px;
    }

    .hurry-txt {
        font-size: 13px;
        line-height: 18px;
    }

    .up2-s2-mdl {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .up2-watch {
        width: 240px;
        transform: none;
    }

    ul.up2-list-col li .icon-img {
        width: 23px;
        top: 8px;
    }

    ul.up2-list-col {
        width: 100%;
        margin-top: 0;
        padding: 30px 10px;
    }

    .up2-img1,
    .up2-img2,
    .up2-img3,
    .up2-img4 {
        float: none;
        margin: 0 auto 12px;
        position: inherit;
    }

    .up2-icon1,
    .up2-icon2,
    .up2-icon3,
    .up2-icon4 {
        display: none;
    }

    ul.up2-list-col.fl li,
    ul.up2-list-col.fr li {
        text-align: center;
        margin-bottom: 0;
        margin-top: 25px;
        padding: 0 25px
    }

    /* ul.up2-list-col li h3 {
         font-size: 24px;
         line-height: 32px;
    }
     */
    ul.up2-list-col li p {
        font-size: 15px;
        line-height: 18px;
        margin-top: 5px;
        letter-spacing: 0.5px;
    }

    .mid-img {
        display: none;
    }

    ul.up2-s2-list {
        margin: 0 0 0 0;
    }

    ul.up2-s2-list li {
        width: 25%;
        margin: 15px 0 0 0;
        float: left;
        font-size: 14px;
        line-height: 24px;
        padding: 0 5px;
    }

    ul.up2-s2-list li img {
        display: block;
        max-width: 100%;
        margin: 0 auto 2px;
    }

    /*==========upsell3=========*/
    .up2-sec3 {
        padding: 0 0 30px 0;
    }

    .logo-prt.mt-5 {
        margin-top: 2rem;
    }

    .up3-s3-mid-lft,
    .up2s3-offerBox {
        float: left;
        width: 100%;
        position: relative;
    }

    .up3-s3-mid-lft {
        margin-top: 0;
    }

    .up2s3-offerBox {
        margin-top: 0;
    }

    .up3-s3-mid-lft .up2-s1-prod {
        margin-top: 0;
        width: 200px;
    }

    .up3-s3-mid-lft .arrival-seal {
        position: absolute;
        top: -9px;
        left: 25px;
        width: 88px;
    }

    .up3-s3-mid-lft .free-seal {
        top: 1px;
        right: 25px;
    }

    .up2s3-offerBox .ups2-txt2 {
        font-size: 24px;
        line-height: 33px;
    }

    .up3-s3-prod {
        width: 300px;
    }

    .up3-seal {
        width: 84px;
    }

    .footer {
        padding: 20px 0;
    }

    .logo1 {
        margin: 5px auto 10px;
    }

    .ftr-txt {
        font-size: 14px;
        line-height: 28px;
    }
}

.tadda {
    animation-name: tadda;
    -webkit-animation-name: tadda;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tadda {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
    }
}

.taddaR {
    animation-name: taddaR;
    -webkit-animation-name: taddaR;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes taddaR {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0px);
    }
}

/*----------------------- Pulse ------------------------*/
.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.85);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.85);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.85);
    }

    50% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.85);
    }
}

/* 02.06.23 starts */
.upse3_text {
    font-size: 26px;
}

.upse4_text {
    font-size: 27px;
}

.upsell4_product_pc {
    width: auto;
    height: 405px;
    transform: translateY(-50px);
}

.product4 {
    width: auto;
    height: 335px;
    transform: rotate(24.89deg) translateY(-20px);
}

.up2-watch.show-mob.upsell3_img {
    width: auto;
}

.up2-s1-prod.upsell4_img {
    width: auto;
    transform: rotate(24.89deg);
}

.upsell4_list .icon-img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.upsell5_pc {
    width: auto;
    transform: translateY(-40px);
    padding: 12px 52px;
}

.up2-watch.upsell5_pc.show-mob {
    transform: none;
    padding: 12px;
}

.upsell5_btm_pc .up2-s1-prod {
    width: auto;
}

/* 02.06.23 ends */
/* 12.06.23 starts */
.logo4 {
    width: 176px !important;
}

.logo3 {
    width: 130px !important;
}

/* 12.06.23 ends */
@media(max-width:420px) {
    ul.ups1-list {
        padding: 0 0px 0 40px;
    }
}

.vip-box {
    box-shadow: 0px 0px 11px 1px #33333340;
    border-radius: 11px;
    margin-top: 0;
    padding: 0px 0px;
    background: #fff;
    color: #000;
    border: 4px solid #405F7D;
}

.vip-box .container-orders {
    position: relative;
}

.vip-box .right-box {
    padding-top: 10px;
    padding: 10px 50px 0 !important;
}

.vip-box .bright-bar {
    background: #405F7D;
    width: 100%;
    margin-top: 0px ! IMPORTANT;
    padding: 2px;
    text-align: left;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.vip-box .your-order {
    margin: 0 auto;
}

.vip-box .form-check {
    padding-left: 14px;
    margin-bottom: 4px;
}

.vip-box .your-order p.text-black {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff !important;
    letter-spacing: 0.2px;
}

.vip-box .img-box {
    position: relative;
}

.vip-box .container-orders .img-box img {
    transform: rotate(0deg);
    object-fit: contain;
    height: 10.3rem;
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 12px;
}

.vip-box .container-orders span.num {
    top: 3px;
    right: 7px;
}

.vip-box .img-box .num {
    position: absolute;
    width: 33px;
    height: 33px;
    background: #ffaf38;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}

.vip-box .container-orders .col-9 {
    padding-left: 0.4rem;
}

.vip-box .vip-box .right-box {
    padding: 10px 20px 0 0;
}

.vip-box .right-box p.fs-6.fw-bold.pt-0 {
    margin-bottom: 0.5rem;
}

.vip-box .right-box p {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.vip-box .right-box p span:last-child {
    color: #00A070;
}

.vip-box .fa-check {
    color: #00A070;
}

.vip-box .undr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
}

.vip-box .right-box p:first-child {
    font-size: 16px !important;
    margin-bottom: 6px !important;
}

.vip-box p.bull {
    margin-bottom: 5px;
}

.vip-box b.value {
    float: right;
    font-weight: 700;
}

.vip-box .right-box p.small-font {
    margin: 0.4rem auto;
    font-size: 15px;
    font-weight: 400;
}

.vip-box .save-circle {
    background: #EE4040;
    /* border-radius: 50%;
     */
    width: 44px;
    height: 50px;
    padding: 0;
    text-align: center;
    /* border: 2px dashed #fff;
     */
    position: absolute;
    right: 10px;
    top: -4px;
}

.vip-box .save-circle p {
    margin: 0 !IMPORTANT;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px !important;
    text-transform: uppercase;
    font-family: "Barlow semi condensed", sans-serif;
}

.vip-box .right-span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.green-packageBtn {
    background-color: #00A070;
    border-radius: 17px;
}

.green-packageBtn:hover {
    background: #00A070 !important;
}

.yllw_prc-trans {
    background-color: transparent;
}

.save-strip-new {
    background-color: #F5F7FB;
    border: none;
}

.up-s1-lft-new {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width: 991px) {
    .vip-box .right-box p:first-child {
        font-size: 15px !important;
        margin-bottom: 6px !important;
        text-align: left;
    }

    .up-s1-rght {
        border-radius: 10px 10px 0 0;
    }

    .vip-box .right-span {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .vip-box .right-box p {
        font-size: 14px;
    }

    .vip-box .container-orders .img-box img {
        margin-top: 0;
    }

    .vip-box .right-box p.small-font {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .up-s1-lft-new {
        padding-top: 0;
        padding-bottom: 0;
    }

    .vip-box .right-box {
        padding: 10px 10px 0 !important;
    }

    .ups1-txt2 {
        border-top: none;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        padding: 0 5px;
    }

    .ups1-txt2 b {
        font-weight: 600;
    }

    .ups1-txt1.up2s1-txt1 {
        border-bottom: 1px solid #dcdcdc;
    }

    .vip-box .right-box p:first-child {
        font-size: 18px !important;
    }

    .vip-box .right-box p {
        font-size: 14px;
    }

    .vip-box .right-span {
        font-size: 14px;
    }

    .vip-box .right-box p.small-font {
        font-size: 13px;
    }

    .vip-box .container-orders .img-box img {
        margin-top: 0;
    }
}

.save-circleTwo {
    position: absolute;
    right: 8px;
    top: 37px;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    padding-left: 0;
    padding-right: 0;
}

@media(max-width:520px) {
    .ups1-txt2 {
        line-height: normal;
        font-size: 16px;
        max-width: 320px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width:500px) {
    .vip-box .right-box p:first-child {
        font-size: 14px !important;
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .prd-slide {
        min-height: auto;
        height: auto;
        width: 70% !important;
        margin-top: 1rem;
    }

    .desktop_show {
        display: none;
    }

    .mobile_hide {
        display: block;
    }
}
