* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.customfooter {
    margin-top: auto;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#222), color-stop(#444), to(#222));
    background: linear-gradient(to right, #222, #444, #222);
    background-image: -webkit-gradient(linear, left top, right top, from(#222), color-stop(#444), to(#222));
    background-image: linear-gradient(to right, #222, #444, #222);
    background-image: -moz-linear-gradient(left, #222, #444, #222);
    padding: 40px 0px;
    float: left;
    width: 100%;
    line-height: 21px;
    font-family: arial !important;
}


.footer-container {
    max-width: 1140px;
    margin: auto;
}

.footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-row > div {
    padding: 0px 15px;
}


.customfooter h3 {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #696868;
    padding-bottom: 5px;
    font-weight: 700;
    color: #fff;
}


.customfooter a {
    color: #f1f1f1;
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 0px !important;
    text-decoration: none;
    display: inline-block;
    font-weight: 400
}
.customfooter a:hover{
    text-decoration: none;
}

.footer-col-4 {
    width: 25%;
}

.footer-col-12 {
    width: 100%;
}

.footerBottom {
    text-align: center;
}

.customfooter ul {
    padding: 0px;
    margin: 0px;
}

.customfooter ul li {
    list-style: none;
    border: none;
    color: #fff;
    line-height: 24px !important;
    font-family: arial !important;
}

.customfooter .credit-cards-image {
    width: 100%;
    max-width: 150px !important;
}


.customfooter p {
    font-size: 12px;
    margin: 0px;
    line-height: 21px !important;
    font-family: arial !important;
}



.footerLogoHolder {
    padding-top: 50px;
    text-align: right;
}

.customfooter a:hover {
    color: #aaa !important;
}


.footerBottom {
    border-top: 1px solid #696868;
    margin-top: 15px;
    padding-top: 15px !important;
}

.footer-image-logo{
    margin: 0px !important;
}

.footer-image-logo img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 25px;
}

.footerBottom p {
    padding-bottom: 10px;
font-family: arial !important;
}


@media(max-width:767px) {
    .footer-row {
        display: block;
    }

    .footer-row > div {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .footerLogoHolder,
    .footerBottom {
        padding-bottom: 0px !important;
    }
}

@media(max-width:575px) {
    .footer-image-logo img {
        height: 20px;
    }

}