* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}
body {
    background: #e5e5e5;
}
header {
    padding: 10px 0;
    background: #fff;
}
header .logo img {
    display: block;
    width: 180px;
}
.logo {
    width: 100%;
}
.logo img {
    display: block;
    margin: 0 auto;
}
.blue-sec {
    position: relative;
}
.blue-sec:before {
    position: absolute;
    content: "";
    background: #0073ad;
    height: 200px;
    width: 100%;
}
.blue-sec-text {
    padding: 25px 30px 0 30px;
    color: #fff;
    min-height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgb(255 255 255 / 19%)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255 255 255 / 19%));
}
.blue-sec-text h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
}
.blue-sec-text h2 i {
    margin-right: 11px;
}
.blue-sec-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}
.white-sec {
    background: #fff;
    padding: 40px 30px 34px 30px;
    border-radius: 0px 0px 8px 8px;
}
.black-bg {
    background: url(../../images/new_thankpages/black-bg.jpg) no-repeat;
    padding: 37px 30px;
    background-size: cover;
    background-position: center;
}
.black-bg h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}
.black-bg h3 span {
    color: #fec41e;
}
.black-bg h3 img {
    margin-right: 11px;
}
.black-bg p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}
.black-bg p span {
    color: #fec41e;
}
       .footer-copyright-wrapper {
                padding-top: 10px !important;
            }
.btn-ylw {
    width: 100% !important;
    background: #FEC41E !important;
    color: #333333 !important;
    border: 1px solid #FEC41E !important;
    padding: 7px 10px !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    border-radius: 0 0 10px 10px !important;
    cursor: pointer !important;
    -webkit-transition: all 0.5s !important;
    transition: all 0.5s !important;
}
.btn-ylw:hover {
    background: #f9ba08;
}
.pink-box {
    background: #fffcf4;
    padding: 25px;
    border: 2px solid #fec41e;
    margin-top: 30px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.pink-box p {
    color: #666666;
    font-size: 16px;
    margin-left: 15px;
}
.order-sec {
    margin-top: 30px;
}
.order-sec h2 {
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.order-det-sec p {
    color: #333333;
    font-weight: 500;
    font-size: 18px;
}
.order-det-sec {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.gry {
    background: #999999;
}
.order-det-sec.totalSec p.tot {
    color: #666666;
    font-weight: 700;
    font-size: 18px;
}
.order-det-sec.totalSec p {
    color: #0073ad;
    font-weight: 700;
    font-size: 18px;
}
.shipBilAdd {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
}
.shipBilAdd h3 {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.shipBilAdd p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}
.order-sec h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #666666;
}
.contact-box {
    padding: 25px;
    margin-top: 30px;
    border-radius: 5px;
    display: -webkit-box;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(196, 196, 196, 0)), to(rgba(196, 196, 196, 1)));
    background-image: linear-gradient(to top, rgba(196, 196, 196, 0), rgba(196, 196, 196, 1));
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contact-box p {
    color: #666666;
    font-size: 16px;
    margin-left: 28px;
}

.contact-box .help-heading {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 21px;
    color: #333333;
    display: block;
}

.contact-box p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #666666;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .blue-sec-text h2 {
        font-size: 27px;
    }
    .black-bg h3 {
        font-size: 29px;
    }
    .blue-sec-text {
        padding: 25px 30px 0 30px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .blue-sec-text h2 {
        font-size: 18px;
    }
    .black-bg h3 {
        font-size: 18px;
    }
    .black-bg p,
    .blue-sec-text p,
    .pink-box p,
    .order-det-sec p,
    .order-sec h3,
    .contact-box p {
        font-size: 14px;
    }
    .shipBilAdd h3,
    .shipBilAdd p {
        font-size: 13px;
    }
    .contact-box .help-heading {
        font-size: 24px;
    }
}

@media (max-width: 767.98px) {
    .blue-sec-text h2 {
        font-size: 17px;
        text-align: center;
    }
    .pink-box{
        display: block;
    }
    .pink-box p {
        margin-left: 0;
    }
    .pink-box img {
        float: left;
        padding-right: 5px;
        width: 90px;
    }
    .blue-sec-text p {
        text-align: center;
    }
    .black-bg h3 {
        font-size: 15px;
    }
    .black-bg p,
    .blue-sec-text p,
    .pink-box p,
    .order-det-sec p,
    .order-sec h3,
    .contact-box p {
        font-size: 15px;
    }
    .shipBilAdd h3,
    .shipBilAdd p {
        font-size: 13px;
    }
    .contact-box .help-heading {
        font-size: 24px;
    }
    .shipBilAdd {
        margin-bottom: 15px;
    }
    .contact-box p{
        font-size: 14px;
        margin-left: 12px;
    }
}

@media (max-width: 767.98px) and (min-width: 320px) {
    .blue-sec-text {
        padding: 20px 20px 0 20px;
    }
    header .logo img {
        width: 160px;
    }
}
@media (max-width: 991.98px) and (min-width: 768px) {
    .blue-sec-text {
        padding: 25px 20px 0 20px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .blue-sec-text {
        padding: 20px 20px 0 20px;
    }
    .blue-sec-text h2 {
        font-size: 15px;
    }
    .black-bg {
        padding: 30px 25px;
    }
    .pink-box {
        padding: 14px;
    }
    .contact-box {
        padding: 19px;
    }
    .contact-box img {
        width: 60px;
    }
    .contact-box p {
        margin-left: 13px;
    }
    .white-sec {
        padding: 40px 20px 34px 20px;
    }
    img.img-fluid.vctr {
        width: 17px;
    }
    .pink-box{display: block;}
    .pink-box img{display: block;margin: 0 auto;}
}

@media (max-width: 320px) {
    .blue-sec-text {
        min-height: 225px;
    }
    .blue-sec:before {
        height: 225px;
    }
    .blue-sec-text {
        padding: 15px 13px 0 13px;
    }
    .blue-sec-text h2 {
        font-size: 15px;
    }
    .vctr {
        width: 20px;
    }
}
.contact-box p > a{
    display: inline-block;
}